.auth-page-container { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 90vh; 
  padding: 2rem;
}
.auth-card { 
  background: var(--white); 
  padding: 2.5rem; 
  border-radius: 15px; 
  box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
  width: 100%; 
  max-width: 400px; 
  text-align: center; 
}
.role-selector { 
  display: flex; 
  justify-content: center; 
  margin-bottom: 1.5rem; 
  background: var(--light-gray); 
  border-radius: 50px; 
  padding: 5px; 
}
.role-selector button { 
  flex: 1; 
  padding: 10px; 
  border: none; 
  background: transparent; 
  border-radius: 50px; 
  cursor: pointer; 
  font-weight: 500; 
  font-family: 'Poppins', sans-serif;
}
.role-selector button.active { 
  background: var(--primary-blue); 
  color: var(--white); 
}
.auth-card form input { 
  width: 92%; 
  padding: 15px; 
  margin-bottom: 1rem; 
  border: 1px solid var(--border-color); 
  border-radius: 8px; 
  font-family: 'Poppins', sans-serif;
}
.auth-submit-btn { 
  width: 100%; 
  padding: 15px; 
  border: none; 
  background: var(--primary-blue); 
  color: var(--white); 
  border-radius: 8px; 
  cursor: pointer; 
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.auth-submit-btn:disabled {
  background-color: var(--text-color);
}
.separator { 
  margin: 1.5rem 0; 
  font-weight: 500;
  color: var(--text-color);
}
.metamask-btn { 
  width: 100%; 
  padding: 15px; 
  border: 1px solid #f6851b; 
  background: transparent; 
  color: #f6851b; 
  font-weight: bold; 
  border-radius: 8px; 
  cursor: pointer; 
  font-family: 'Poppins', sans-serif;
}
.toggle-auth { 
  margin-top: 1.5rem; 
  cursor: pointer; 
  color: var(--primary-blue);
  font-size: 0.9rem;
}
.auth-error {
  color: var(--danger-red);
  margin-top: 1rem;
  font-size: 0.9rem;
}