.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: var(--dark-gray);
  padding: 0 2rem;
  background-color: var(--light-gray); /* Ensures consistent background */
  /* background-image: url('E:\vs\react\SecureF\securefund-client\public\images(1).jpg'); */
   background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 800px;
}

.hero-title {
  font-size: clamp(2.5rem, 6vw, 4rem); /* Responsive font size */
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero-subtitle {
  font-size: 1.15rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
  color: var(--text-color);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  border: none;
}

.btn-primary {
  background-color: var(--primary-blue);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--primary-dark-blue);
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
}

.btn-secondary {
  background-color: var(--white);
  color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
}

.btn-secondary:hover {
  background-color: var(--primary-blue);
  color: var(--white);
  transform: translateY(-3px);
}